<app-header></app-header>
<!-- <app-breadcrumb></app-breadcrumb> -->

<!-- Breadcrumb -->
<div class="section subbanner"
    style="background:url('../../../assets/image/slide_page.jpg') no-repeat center center;   -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="caption">
                    <h3>About Us</h3>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">About Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil perspiciatis sint
        eos laborum, minima architecto?
        Fugiat ullam alias eligendi, quas officiis hic delectus soluta optio, rem nulla enim. Sunt, quia asperiores.
        Repellat ab cum laboriosam exercitationem tempora voluptate placeat non dolores. Dolor nihil dolore in voluptas
        porro laudantium iure enim eos reiciendis sapiente? Magnam, quam. Molestiae consequatur assumenda ex fugit,
        aliquam magnam animi enim molestias voluptatibus iusto, deserunt, ut commodi sint autem labore asperiores!
        Itaque praesentium sapiente, eligendi soluta fugiat nesciunt, delectus odit alias dolore consectetur atque est
        mollitia eveniet. Debitis dolore explicabo officiis accusamus ea dolorum quae earum minima.</p>
    <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil perspiciatis sint
        eos laborum, minima architecto?
        Fugiat ullam alias eligendi, quas officiis hic delectus soluta optio, rem nulla enim. Sunt, quia asperiores.
        Repellat ab cum laboriosam exercitationem tempora voluptate placeat non dolores. Dolor nihil dolore in voluptas
        porro laudantium iure enim eos reiciendis sapiente? Magnam, quam. Molestiae consequatur assumenda ex fugit,
        aliquam magnam animi enim molestias voluptatibus iusto, deserunt, ut commodi sint autem labore asperiores!
        Itaque praesentium sapiente, eligendi soluta fugiat nesciunt, delectus odit alias dolore consectetur atque est
        mollitia eveniet. Debitis dolore explicabo officiis accusamus ea dolorum quae earum minima.</p>
    <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil perspiciatis sint
        eos laborum, minima architecto?
        Fugiat ullam alias eligendi, quas officiis hic delectus soluta optio, rem nulla enim. Sunt, quia asperiores.
        Repellat ab cum laboriosam exercitationem tempora voluptate placeat non dolores. Dolor nihil dolore in voluptas
        porro laudantium iure enim eos reiciendis sapiente? Magnam, quam. Molestiae consequatur assumenda ex fugit,
        aliquam magnam animi enim molestias voluptatibus iusto, deserunt, ut commodi sint autem labore asperiores!
        Itaque praesentium sapiente, eligendi soluta fugiat nesciunt, delectus odit alias dolore consectetur atque est
        mollitia eveniet. Debitis dolore explicabo officiis accusamus ea dolorum quae earum minima.</p>
</div>

<app-footer></app-footer>