<app-header></app-header>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="8000">
            <img src="../../../assets/image/homeslide.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="../../../assets/image/homeslide1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/image/homeslide.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container mt-3">
    <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil perspiciatis sint
        eos laborum, minima architecto?
        Fugiat ullam alias eligendi, quas officiis hic delectus soluta optio, rem nulla enim. Sunt, quia asperiores.
        Repellat ab cum laboriosam exercitationem tempora voluptate placeat non dolores. Dolor nihil dolore in voluptas
        porro laudantium iure enim eos reiciendis sapiente? Magnam, quam. Molestiae consequatur assumenda ex fugit,
        aliquam magnam animi enim molestias voluptatibus iusto, deserunt, ut commodi sint autem labore asperiores!
        Itaque praesentium sapiente, eligendi soluta fugiat nesciunt, delectus odit alias dolore consectetur atque est
        mollitia eveniet. Debitis dolore explicabo officiis accusamus ea dolorum quae earum minima.</p>
    <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil perspiciatis sint
        eos laborum, minima architecto?
        Fugiat ullam alias eligendi, quas officiis hic delectus soluta optio, rem nulla enim. Sunt, quia asperiores.
        Repellat ab cum laboriosam exercitationem tempora voluptate placeat non dolores. Dolor nihil dolore in voluptas
        porro laudantium iure enim eos reiciendis sapiente? Magnam, quam. Molestiae consequatur assumenda ex fugit,
        aliquam magnam animi enim molestias voluptatibus iusto, deserunt, ut commodi sint autem labore asperiores!
        Itaque praesentium sapiente, eligendi soluta fugiat nesciunt, delectus odit alias dolore consectetur atque est
        mollitia eveniet. Debitis dolore explicabo officiis accusamus ea dolorum quae earum minima.</p>
    <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil perspiciatis sint
        eos laborum, minima architecto?
        Fugiat ullam alias eligendi, quas officiis hic delectus soluta optio, rem nulla enim. Sunt, quia asperiores.
        Repellat ab cum laboriosam exercitationem tempora voluptate placeat non dolores. Dolor nihil dolore in voluptas
        porro laudantium iure enim eos reiciendis sapiente? Magnam, quam. Molestiae consequatur assumenda ex fugit,
        aliquam magnam animi enim molestias voluptatibus iusto, deserunt, ut commodi sint autem labore asperiores!
        Itaque praesentium sapiente, eligendi soluta fugiat nesciunt, delectus odit alias dolore consectetur atque est
        mollitia eveniet. Debitis dolore explicabo officiis accusamus ea dolorum quae earum minima.</p>
</div>

<!-- About section -->

<div class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-title">
                    <h2 class="lead">WHY CHOOSE US?</h2>
                    <p class="sublead">This template is designed with a unique and simple, so that it can promote and
                        laundry business solution.</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="why-item">
                    <div class="icon">
                        <div class="fa fa-flash"></div>
                    </div>
                    <div class="ket">
                        <h4>EXPERT CLEANER</h4>
                        <p>We give our best work for this template. We make with a love. Our template have diffrent
                            style and layout in every each.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="why-item">
                    <div class="icon">
                        <div class="fa fa-money"></div>
                    </div>
                    <div class="ket">
                        <h4>AFFORDABLE PRICE</h4>
                        <p>Our templates price really affordable. Only $21 for one beutiful templates, you will get free
                            update and awesome support.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="why-item">
                    <div class="icon">
                        <div class="fa fa-truck"></div>
                    </div>
                    <div class="ket">
                        <h4>EXPRESS DELIVERY</h4>
                        <p>Yes it's right!. If you already purchased this template you will get free access to get a new
                            template every our update launch</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="why-item">
                    <div class="icon">
                        <div class="fa fa-life-bouy"></div>
                    </div>
                    <div class="ket">
                        <h4>QUARANTEE</h4>
                        <p>Of course this is muse templates, you dont need to writing code to edit, you just need to
                            drag and drop your images.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Services -->
<app-ourservice></app-ourservice>

<!-- TESTIMONIALS SECTION -->
<div class="section testimonials">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-title">
                    <h2 class="lead">TESTIMONIALS</h2>
                    <p class="sublead">This template is designed with a unique and simple, so that it can promote and
                        laundry business solution.</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="testimonials-item">
                    <div class="people">
                        <img src="../../../assets/image/home-testimony-img-1.jpg" alt="" class="img-circle">
                        <h3>John Deol</h3>
                        <p>Manager Google</p>
                    </div>
                    <div class="quote-box">
                        <p>"I can't believe the level of help and customer service he provided. I don't think I could
                            have reached my deadline without him."</p>
                        <div class="q-url">
                            <a href="http://html.rudhisasmito.com/laundryes/index2.html#" title="">www.google.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="testimonials-item">
                    <div class="people">
                        <img src="../../../assets/image/home-testimony-img-2.jpg" alt="" class="img-circle">
                        <h3>Sonny Deol</h3>
                        <p>Jonitor DC</p>
                    </div>
                    <div class="quote-box">
                        <p>"Hello Rometheme, I just bought a muse template from you. Very happy with it"</p>
                        <div class="q-url">
                            <a href="http://html.rudhisasmito.com/laundryes/index2.html#"
                                title="">www.dcentertaiment.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="testimonials-item">
                    <div class="people">
                        <img src="../../../assets/image/home-testimony-img-3.jpg" alt="" class="img-circle">
                        <h3>Jenny Deol</h3>
                        <p>CEO Layer</p>
                    </div>
                    <div class="quote-box">
                        <p>"Hello, I have purchased and used this template. everything is working great!."</p>
                        <div class="q-url">
                            <a href="http://html.rudhisasmito.com/laundryes/index2.html#" title="">www.layer.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="testimonials-item">
                    <div class="people">
                        <img src="../../../assets/image/home-testimony-img-4.jpg" alt="" class="img-circle">
                        <h3>Rambo Deol</h3>
                        <p>Dota Player</p>
                    </div>
                    <div class="quote-box">
                        <p>"i thought the designs are flexible to implement, Actually his service are quite good, truly
                            recommended"</p>
                        <div class="q-url">
                            <a href="http://html.rudhisasmito.com/laundryes/index2.html#" title="">www.dota.com</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Footer -->
<app-footer></app-footer>