<!-- SERVICES SECTION -->
<div class="section services">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-title">
                    <h2 class="lead">OUR SERVICES</h2>
                    <p class="sublead">This template is designed with a unique and simple, so that it can promote and
                        laundry business solution.</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-6">
                <div class="services-item left">
                    <div class="icon">
                        <img src="../../../assets/image/home-service-img-1.jpg" alt="" class="img-circle">
                    </div>
                    <div class="ket">
                        <h4>COIN LAUNDRY</h4>
                        <p>Yes! Our templates already for desktop, tablet and mobile layout versions.</p>
                    </div>
                </div>
                <div class="services-item left">
                    <div class="icon">
                        <img src="../../../assets/image/home-service-img-2.jpg" alt="" class="img-circle">
                    </div>
                    <div class="ket">
                        <h4>REDENTIAL LAUNDRY</h4>
                        <p>We give you good documentation to make easy to understand.</p>
                    </div>
                </div>
                <div class="services-item left">
                    <div class="icon">
                        <img src="../../../assets/image/home-service-img-3.jpg" alt="" class="img-circle">
                    </div>
                    <div class="ket">
                        <h4>BUSINESS LAUNDRY</h4>
                        <p>Create and publish dynamic websites for dekstop and mobile devices.</p>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 col-md-6 col-md-offset-4">
                <div class="services-item right">
                    <div class="icon">
                        <img src="../../../assets/image/home-service-img-4.jpg" alt="" class="img-circle">
                    </div>
                    <div class="ket">
                        <h4>COIN LAUNDRY</h4>
                        <p>Yes! Our templates already for desktop, tablet and mobile layout versions.</p>
                    </div>
                </div>
                <div class="services-item right">
                    <div class="icon">
                        <img src="../../../assets/image/home-service-img-5.jpg" alt="" class="img-circle">
                    </div>
                    <div class="ket">
                        <h4>REDENTIAL LAUNDRY</h4>
                        <p>We give you good documentation to make easy to understand.</p>
                    </div>
                </div>
                <div class="services-item right">
                    <div class="icon">
                        <img src="../../../assets/image/home-service-img-6.jpg" alt="" class="img-circle">
                    </div>
                    <div class="ket">
                        <h4>BUSINESS LAUNDRY</h4>
                        <p>Create and publish dynamic websites for dekstop and mobile devices.</p>
                    </div>
                </div>

            </div>

            <!-- <div class="col-sm-12 col-md-4 col-md-offset-4">
                <div class="services-item-image">
                    <img src="../../../assets/image/service_img_home2-u24208-fr.png" alt="">
                </div>
            </div> -->

        </div>

    </div>
</div>